<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/piglatinize" method="post">
      <input type="text" name="user_phrase" placeholder="Enter your phrase:">
    </form>
  </body>
</html>
